<div appThemed class="dashboard">
  <app-welcome-banner></app-welcome-banner>

  <div class="title-row flex-grid justify-content-between">
    <div class="flex-grid">
      <i class="icon">dashboard</i>
      <div class="title">Dashboard</div>
    </div>
    <div class="flex-grid view-customer" *ngIf="showCustomersDropdown && allCustomers">
      View Customer
      <app-select
        [options]="allCustomers"
        [(appModel)]="selectedCustomer"
        placeholder="All Customers"
        (change)="onCustomerSelected()">
      </app-select>
    </div>
  </div>

  <div class="flex-grid flex-wrap">
    <div class="card-container" [class.stretch]="cards.length === 2" *ngFor="let card of cards">
      <app-summary-card
        [name]="card.name"
        [columns]="card.columns"
        [data]="card.data"
        [statuses]="card.statuses"
        (navigate)="onLinkClicked(card, $event)">
      </app-summary-card>
    </div>
  </div>

</div>
