@import 'src/assets/scss/variables.scss';

.title-row {
    margin-bottom: 20px;
    .icon {
        font-size: 24px;
    }
    .title {
        margin-left: 15px;
        text-transform: uppercase;
        font-family: $app-font-bold;
        font-size: 18px;

        @include themify() {
            color: themed('brand');
        }
    }

    .view-customer {
        font-family: $app-font-medium;
        app-select {
            margin-left: 10px;
        }
    }
}

.card-container {
    width: calc(25% - 12px);
    margin-right: 15px;
    flex-shrink: 0;

    &:last-child {
        margin-right: 0;
    }

    &.stretch {
        width: calc(50% - 10px);
        margin-right: 20px;
        &:nth-child(even) {
            margin-right: 0;
        }
    }

    @include desktop-1320-and-down {
        width: calc(50% - 10px);
        margin-right: 20px;
        margin-bottom: 20px;
        &:nth-child(even) {
            margin-right: 0;
        }
    }
}
