$themes: (
    default: (
        /* primary colors */
        brand: #4B34AC, /* the main background color of the banner etc */
        text: #4E495C, /* the default text color */
        text-strong: #130D26, /* strong text color */
        text-weak: #888592, /* weak text color */
        text-contrast: #FFF, /* text color when placed on 'secondary-colored' / 'brand' backgrounds */
        border: #E3E4E5, /* default border color */
        background-contrast: #FFF, /* the background for cards,tables etc */
        background: #F5F6F7, /* the default background of the page and other elements */
        background-strong: #EFEFF4, /* a stronger version for default background */

        /* secondary colors */
        danger: #FF2153, /* for labels like "Not signed" / "Cancelled" */
        warning: #F78A1D, /* for labels like "Closed" / "Draft" */
        positive: #01ABCE, /* for labels like "Accepted" / "In Production" */
        balanced: #DA49DB, /* for labels like "Open" */
        success: #BCCF02, /* for labels like "Signed" / "Delivered" */
        installed: #1893fc, /* for labels like "Installed" */
        link: #1893FC, /* for links */
        button-primary: #21A81E /* for primary buttons */
    ),

    reddish: (
        /* primary colors */
        brand: #FF2153,
        text: #4E495C,
        text-strong: #130D26,
        text-weak: #888592,
        text-contrast: #FFF,
        border: #E3E4E5,
        background-contrast: #FFF,
        background: #F5F6F7,
        background-strong: #EFEFF4,

        /* secondary colors */
        danger: #F78A1D,
        warning: #DA49DB,
        positive: #BCCF02,
        balanced: #4B34AC,
        success: #21A81E,
        installed: #1893fc,
        link: #1893FC,
        button-primary: #01ABCE
    ),

    dark: (
        /* primary colors */
        brand: #01ABCE,
        text: #F5F6F7,
        text-strong: #FFF,
        text-weak: #EFEFF4,
        text-contrast: #FFF,
        border: #E3E4E5,
        background-contrast: #888592,
        background: #130D26,
        background-strong: #4E495C,

        /* secondary colors */
        danger: #FF2153,
        warning: #DA49DB,
        positive: #BCCF02,
        balanced: #4B34AC,
        success: #21A81E,
        installed: #1893fc,
        link: #1893FC,
        button-primary: #F78A1D
    )
);

@mixin themify() {
    @content;

    @each $theme, $map in $themes {
        .theme-#{$theme} &,
        &.theme-#{$theme} {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function themed($key) {
    $theme-map: map-get($themes, 'default') !default;
    @return map-get($theme-map, $key);
}
