@import './themes.scss';

// font-family
$app-font-regular: 'Roboto Regular';
$app-font-bold: 'Roboto Bold';
$app-font-medium: 'Roboto Medium';
$app-font-light: 'Roboto Light';
$app-icon-font-rounded: 'Material Icons Rounded';
$app-icon-font-sharp: 'Material Icons Reglar';

// mixins for media queries
@mixin desktop-1320-and-down {
    @media (max-width: 1320px) { @content; }
}
@mixin desktop-1220-and-down {
    @media (max-width: 1220px) { @content; }
}
@mixin tablet-only {
    @media (max-width: 1024px) and (min-width: 601px) { @content; }
}
@mixin tablet-and-down {
    @media (max-width: 1024px) { @content; }
}
