@import 'src/assets/scss/variables.scss';

.checkbox {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    font-size: 18px;

    @include themify() {
        color: themed('border');
        &.checked {
            color: themed('button-primary');
        }
    }

    .icon {
        background-color: #fff;
    }
}
