@import 'src/assets/scss/variables.scss';

.declaration-title {
    font-family: $app-font-medium;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 23px;
}

.declaration-card {
    border-radius: 8px;
    @include themify() {
        border: 1px solid themed('border');
    }

    .left-section {
        width: 37%;
        flex-shrink: 0;
        @include themify() {
            border-right: 1px solid themed('border');
        }
    }

    .section-header {
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-family: $app-font-medium;
        padding: 0 18px;
        @include themify() {
            border-bottom: 1px solid themed('border');
        }
    }
    .left-details {
        white-space: pre-line;
        line-height: 18px;
        padding: 13px 18px;
        @include themify() {
            color: themed('text-weak');
        }
    }

    .signature {
        padding: 15px;
        width: 100%;

        @include themify() {
            background-color: themed('background');
            border-bottom: 1px solid themed('border');
        }

        & > div {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 48px;
            @include themify() {
                color: themed('text-weak');
            }
        }

        .dashed {
            font-size: 24px;
            cursor: pointer;
            @include themify() {
                border: 1px dashed themed('text-weak');
            }
        }
    }

    .signature-details {
        padding: 15px 10px;
        width: 100%;

        .field {
            margin: 0 5px;
            width: 100%;
            .label {
                margin-bottom: 5px;
                line-height: 16px;
                font-family: $app-font-medium;
            }
            input {
                @include themify() {
                    background-color: themed('background');
                    color: themed('text-weak');
                }
            }
        }
    }
}
