<div appThemed class="itmes-table">
  <div class="simple-table  main-table">
    <table>
      <thead>
        <tr>
          <ng-container *ngFor="let column of mainColumns">
            <th *ngIf="!column.hidden" [class.expand]="column.type === 'expand'">{{ column.name }}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of items; let i=index">
          <tr>
            <ng-container *ngFor="let column of mainColumns">
              <td *ngIf="!column.hidden">
                <span *ngIf="!column.type">{{ item[column.key] || 'N/A' }}</span>
                <span *ngIf="column.type === 'time'">{{ (item[column.key] | date: 'dd/MM/yyy HH:mm:ss') || 'N/A' }}</span>
                <span *ngIf="column.type === 'boolean'">{{ item[column.key] ? 'True' : 'False' }}</span>
                <span *ngIf="column.type === 'number'">{{ (item[column.key] | number: '0.0-0') || 'N/A' }}</span>
                <span *ngIf="column.type === 'serial'">{{ i + 1 }}</span>
                <div *ngIf="column.type === 'expand'" class="expand">
                  <i class="icon brand" *ngIf="!item.expanded" (click)="item.expanded = true">add_circle</i>
                  <i class="icon" *ngIf="item.expanded" (click)="item.expanded = false">remove_circle</i>
                </div>
                <div *ngIf="column.type === 'status'" class="status flex-grid">
                  <div *ngFor="let status of statuses; last as last"
                    [class]="'pill flex-grid background-' + (status.label === item[column.key] ? status.color + ' active' : '') + (last ? ' last' : '')">
                    {{ status.label }}
                    <span *ngIf="!last" [class]="'caret border-type-' + (status.label === item[column.key] ? status.color + ' active' : '')"></span>
                  </div>
                </div>
              </td>
            </ng-container>
          </tr>

          <tr *ngIf="item.expanded">
            <td [colSpan]="getVisibleCount(mainColumns)" class="expansion-cell">
              <ng-template *ngTemplateOutlet="expansionContent; context: { carevis: {show: true}, item: item, i: i, deviceStatusTab:{ active: 'Installed' }}"></ng-template>
            </td>
          </tr>

        </ng-container>
      </tbody>
    </table>

    <div class="no-results-message" *ngIf="items && items.length === 0">No records found for the given criteria</div>
  </div>
</div>

<ng-template #devicesBody let-type="type" let-deviceColumns="deviceColumns" let-itemNum="itemNum">
  <ng-container *ngFor="let device of devices[itemNum][type]; index as j">
    <tr>
      <td *ngIf="userCanEditStatus">
        <app-checkbox [appModel]="device.selected" (appModelChange)="device.selected = !device.selected"></app-checkbox>
      </td>
      <ng-container *ngFor="let column of deviceColumns">
        <td *ngIf="!column.hidden">
          <span *ngIf="column.type === 'serial'">{{ j + 1 }}</span>
          <span *ngIf="!column.type">{{ device[column.key] || 'N/A' }}</span>
          <span *ngIf="column.type === 'status'" class="device-status">
            <ng-container *ngIf="!userCanEditStatus">
              {{ device[column.key] }}
            </ng-container>
            <ng-container *ngIf="userCanEditStatus">
              <app-select
                [options]="deviceStatuses"
                placeholder="Status"
                [canReset]="false"
                [(appModel)]="device[column.key]"
                position="top"
              >
              </app-select>
            </ng-container>
          </span>
        </td>
      </ng-container>
    </tr>
  </ng-container>
</ng-template>

<ng-template #expansionContent let-carevis="carevis" let-item="item" let-i="i" let-deviceStatusTab="deviceStatusTab">
  <div class="labeled-expansion-button flex-grid" *ngIf="!carevis.show">
    <i class="icon brand" (click)="carevis.show = true">add_circle</i>
    Carepack Details
  </div>
  <div class="simple-table carepack-table" *ngIf="carevis.show">
    <table>
      <thead>
        <tr>
          <ng-container *ngFor="let column of carepackColumns">
            <th *ngIf="!column.hidden">
              <span *ngIf="!column.type">{{ column.name }}</span>
              <div *ngIf="column.type === 'expand'" class="expand">
                <i class="icon" (click)="carevis.show = false">remove_circle</i>
              </div>
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carepack of item.carepackDetails">
          <ng-container *ngFor="let column of carepackColumns">
            <td *ngIf="!column.hidden">
              <span *ngIf="!column.type">{{ carepack[column.key] || 'N/A' }}</span>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="devices-table-wrapper">
    <div class="header-row flex-grid">
      <ul class="tabs-device-status d-flex">
        <li *ngFor="let status of deviceStatuses">
          <div (click)="deviceStatusTab.active = status" [class.is-active]="deviceStatusTab.active === status">{{ status }}</div>
        </li>
      </ul>
      <ng-container *ngIf="userCanEditStatus">
        <app-select
          [options]="deviceStatuses"
          placeholder="Status"
          [canReset]="false"
          [(appModel)]="selectedDeviceStatus[item.itemNumber][deviceStatusTab.active]"
        >
        </app-select>
        <button
          class="button button-save"
          (click)="onUpdateOrderDevices(item.itemNumber)"
        >
          <i class="icon icon-left">save</i>
          Save
        </button>
      </ng-container>
    </div>
    <div class="simple-table devices-table">
      <table>
        <thead>
          <tr>
            <th *ngIf="userCanEditStatus">
              <app-checkbox
                [appModel]="allDevicesSelected(devices[item.itemNumber][deviceStatusTab.active])"
                (appModelChange)="toggleDevices($event, devices[item.itemNumber][deviceStatusTab.active])"
              ></app-checkbox>
            </th>
            <ng-container *ngFor="let column of deviceColumns">
              <th *ngIf="!column.hidden"><span>{{ column.name }}</span></th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="deviceStatusTab.active === 'Installed'">
            <ng-template *ngTemplateOutlet="devicesBody; context: { type: 'Installed', deviceColumns: deviceColumns, itemNum: item.itemNumber}"></ng-template>
          </ng-container>
          <ng-container *ngIf="deviceStatusTab.active === 'Delivered'">
            <ng-template *ngTemplateOutlet="devicesBody; context: { type: 'Delivered', deviceColumns: deviceColumns, itemNum: item.itemNumber}"></ng-template>
          </ng-container>
          <ng-container *ngIf="deviceStatusTab.active === 'Installing'">
            <ng-template *ngTemplateOutlet="devicesBody; context: { type: 'Installing', deviceColumns: deviceColumns, itemNum: item.itemNumber}"></ng-template>
          </ng-container>
        </tbody>
      </table>

      <div class="no-results-message" *ngIf="devices[item.itemNumber][deviceStatusTab.active].length === 0">No devices found.</div>
    </div>
  </div>
</ng-template>
