@import 'src/assets/scss/variables.scss';

.main-table {
    border-radius: 8px;
    td {
        height: 48px;
        &[colspan] {
            padding: 0;
            &.expansion-cell {
                padding-bottom: 15px;
            }
        }
    }

    tr:last-child {
        @include themify() {
            border-bottom: 1px solid themed('border');
        }
    }

    .expand {
        font-size: 16px;
        cursor: pointer;
    }
    th.expand {
        min-width: 0;
        cursor: auto;
    }

    .status {
        font-family: $app-font-bold;
        font-size: 10px;

        .pill {
            padding: 0 6px 0 22px;
            height: 28px;
            position: relative;

            &:not(.active):not(.last):after {
                content: '';
                position: absolute;
                left: calc(100% + 2px);
                border-top: 14px solid transparent;
                border-bottom: 14px solid transparent;
                z-index: 1;

                @include themify() {
                    border-left: 14px solid rgba(themed('text-contrast'), 0.7);
                }
            }

            .caret {
                position: absolute;
                left: 100%;
                border-top: 14px solid transparent;
                border-left-width: 14px;
                border-left-style: solid;
                border-bottom: 14px solid transparent;
                z-index: 2;

                @include themify() {
                    &:not(.active) {
                        border-left-color: themed('background');
                    }
                }
            }

            &:first-child {
                padding-left: 16px;
                border-radius: 14px 0 0 14px;
            }
            &.last {
                border-radius: 0 14px 14px 0;
                padding-right: 14px;
            }

            @include themify() {
                color: themed('text-contrast');
                &:not(.active) {
                    background-color: themed('background');
                    color: themed('text-weak');
                    font-family: $app-font-medium;
                }
            }
        }
    }
}


.carepack-table,
.devices-table {
    min-width: 0;
    width: auto;
    display: inline-block;
    border-radius: 8px;
    margin: 16px 0 12px 16px;

    table {
        min-width: 0;
    }

    th {
        min-width: 0;
        max-width: none;
    }

    td {
        height: 32px;
    }
}

.devices-table-wrapper {

    .header-row {
        @include themify() {
            border-top: 1px solid themed('border');
        }

        .tabs-device-status {
            list-style: none;
            margin: 0 30px 0 0;
            padding: 0;

            li {
                padding: 0 50px;
                @include themify() {
                    border-right: 1px solid themed('border');
                }

                div {
                    font-family: $app-font-bold;
                    padding: 0 10px;
                    line-height: 40px;
                    cursor: pointer;
                    position: relative;
                    text-transform: capitalize;

                    &.is-active:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        @include themify() {
                            border-top: 2px solid themed('button-primary');
                        }
                    }
                }
            }
        }

        ::ng-deep {

            .select .select-box {
                height: 28px;
                min-width: 180px;
                @include themify() {
                    border: 1px solid themed('border');
                    background-color: themed('background');
                }
            }
        }

        .button-save {
            background-color: transparent;
            margin-left: 10px;

            .icon {
                font-size: 14px;
            }
        }
    }
}

.devices-table {
    border-radius: 0;
    margin: 0;
    border-left: none;
    overflow: visible;

    .no-results-message {
        padding: 8px 20px;
    }

    .device-status {
        text-transform: uppercase;
    }
}

.labeled-expansion-button {
    font-family: $app-font-bold;
    height: 32px;
    text-transform: capitalize;

    .icon {
        font-size: 16px;
        margin: 0 10px;
        cursor: pointer;
    }
}
