@import 'src/assets/scss/variables.scss';

.select {
    position: relative;
    cursor: pointer;
    user-select: none;

    &.active {
        .options-container {
            display: block;
        }
    }
}

.select-box {
    height: 32px;
    padding: 0 8px 0 16px;
    min-width: 220px;
    border-radius: 16px;

    @include themify() {
        background-color: themed('background-contrast');
    }

    .icon {
        margin-left: 10px;
        font-size: 20px;
    }
}

.options-container {
    position: absolute;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1000;
    max-height: 180px;
    overflow: auto;
    border-radius: 16px;

    &.bottom {
        top: calc(100% + 3px);
    }

    &.top {
        bottom: calc(100% + 3px);
    }

    @include themify() {
        background-color: themed('background-contrast');
        box-shadow: 0 0 50px rgba(themed('text-strong'), 0.15);
    }

    .option {
        height: 32px;
        padding: 0 16px;
        &:hover {
            @include themify() {
                background-color: themed('background');
                color: themed('brand');
                font-family: $app-font-medium;
            }
        }
    }
}
