@import 'src/assets/scss/variables.scss';

.paginator {
    height: 48px;
    padding: 0 15px;

    @include themify() {
        color: themed('text-weak');
    }
}

.page-size-selector {
    padding: 0 5px 0 13px;
    height: 25px;
    border-radius: 13px;
    margin-left: 6px;
    @include themify() {
        background-color: themed('background');
    }

    .selector-icons {
        position: relative;
        height: 20px;
        width: 20px;
        margin-left: 3px;

        .icon {
            font-size: 20px;
            position: absolute;
            left: 0;
            cursor: pointer;
            z-index: 0;
            pointer-events: none;

            &.up {
                top: -4px;
            }
            &.down {
                bottom: -4px;
            }
            @include themify() {
                color: themed('text-weak');
            }
        }
        .click-box {
            height: 10px;
            width: 20px;
            cursor: pointer;
            z-index: 1;
        }
    }
}

// previous / next buttons
.prev,
.next {
    font-size: 24px;
    cursor: pointer;
    @include themify() {
        color: themed('brand');
        &.disabled {
            cursor: auto;
            color: themed('text-weak');
            opacity: 0.5;
        }
    }
}

// the numberd page buttons
.page-button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.active {
        font-family: $app-font-bold;
        @include themify() {
            background-color: themed('background');
            color: themed('brand');
        }
    }
}
