<div appThemed class="paginator flex-grid">
  <div>Records / page</div>
  <!-- select for number of records per page -->
  <div class="page-size-selector flex-grid">
    {{ perPage }}
    <div class="selector-icons">
      <i class="icon sharp up">arrow_drop_up</i>
      <i class="icon sharp down">arrow_drop_down</i>
      <div class="click-box up" (click)="changePageSize(1)"></div>
      <div class="click-box down" (click)="changePageSize(-1)"></div>
    </div>
  </div>
  <div class="flex-grow"></div>

  <!-- page select buttons -->
  <i class="icon prev" [class.disabled]="prevDisabled" (click)="!prevDisabled && incrementPage(-1)">chevron_left</i>
  <div class="page-button" [class.active]="p === page" *ngFor="let p of pageOptions" (click)="setPage(p)">{{ p }}</div>
  <i class="icon next" [class.disabled]="nextDisabled" (click)="!nextDisabled && incrementPage(1)">chevron_right</i>
</div>
