@import 'src/assets/scss/variables.scss';

.option {
    height: 32px;
    padding: 0 15px;
    text-transform: capitalize;

    &:first-child {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }
    &:last-child {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    @include themify() {
        border: 1px solid themed('border');
        background-color: rgba(themed('brand'), 0.03);
        color: rgba(themed('text'), 0.75);

        &.active {
            background-color: rgba(themed('brand'), 0.1);
            color: themed('brand');
            font-family: $app-font-medium;
        }

        border-right: none;
        &:last-child {
            border-right: 1px solid themed('border');
        }
    }

    .status-dot {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        margin-right: 8px;
    }
}
