<div appThemed class="status-filter-group flex-grid">
  <div class="option flex-grid" [class.active]="!selectedOption"
    (click)="onOptionSelected(null)">
    All Status
  </div>
  <div class="option flex-grid" *ngFor="let status of statuses; let i=index"
    [class.active]="selectedOption === status">
    <div [class]="'status-dot background-' + colors[i]"></div>
    {{ status }}
  </div>
</div>
