<div appThemed class="outer-container">
  <!-- search and filters row -->
  <div class="filter-row flex-grid justify-content-between">
    <div class="title" *ngIf="title">{{ title }}</div>
    <app-search-box (enter)="onSearch($event)" [bordered]="styling === 'simple'"></app-search-box>
    <app-status-filter-group
      *ngIf="statuses"
      [statuses]="statuses"
      [(appModel)]="statusFilterValue"
      (change)="onFilterUpdated()">
    </app-status-filter-group>
  </div>
  <div class="paginated-table-container background-contrast">
    <!-- listing table -->
    <table [class.simple]="styling === 'simple'">
      <thead>
        <tr>
          <th *ngFor="let column of columns" (click)="!column.unsortable && onSortBy(column)"
            [class.active]="sortBy === column">
            <div class="flex-grid justify-content-between">
              {{ column.name }}
              <div class="sort-icons" *ngIf="!column.unsortable">
                <i class="icon sharp up" [class.active]="sortBy === column && sortOrder === 'asc'">arrow_drop_up</i>
                <i class="icon sharp down" [class.active]="sortBy === column && sortOrder === 'desc'">arrow_drop_down</i>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td *ngFor="let column of columns">
            <span *ngIf="!column.type">{{ row[column.key] }}</span>
            <span *ngIf="column.type === 'date'">{{ row[column.key] | date: 'dd/MM/yyyy' }}</span>
            <span *ngIf="column.type === 'time'">{{ row[column.key] | date: 'dd/MM/yyyy  HH:mm:ss' }}</span>
            <span *ngIf="column.type === 'currency'">{{ row[column.key] | currency }}</span>
            <span *ngIf="column.type === 'number'">{{ row[column.key] | number: '0.0-0' }}</span>
            <span *ngIf="column.type === 'percentage'">{{ row[column.key] ? (row[column.key] + '%') : '' }}</span>
            <a *ngIf="column.type === 'link'" (click)="onLinkClicked(row)">{{ row[column.key] }}</a>
            <div class="status" *ngIf="column.type === 'status'">
              <div class="pill flex-grid">
                <div [class]="'status-dot background-' + utilService.getColorForStatus(utilService.getStatusDisplayText(row[column.key]))"></div>
                {{ utilService.getStatusDisplayText(row[column.key]) }}
              </div>
              <div class="icon-circle" *ngIf="column.icon">
                <i class="icon">{{ column.icon }}</i>
              </div>
              <div class="icon-circle" *ngIf="column.editable && column.editable(row)" (click)="onEdit(row)">
                <i class="icon">edit</i>
                <div class="icon-underline"></div>
              </div>
            </div>
            <div *ngIf="column.type === 'select'">
              <app-checkbox [appModel]="isSelected(row)" (appModelChange)="onSelect(row, $event)"></app-checkbox>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- paginator -->
    <div class="paginator-container">
      <app-paginator
        *ngIf="total"
        [total]="total"
        [(pageNumber)]="pageNumber"
        [(pageSize)]="pageSize"
        (change)="onPaginatorUpdate()">
      </app-paginator>
    </div>
    <div class="no-results-message" *ngIf="total === 0">No records found with the given criteria</div>
  </div>

  <!-- loader spinner -->
  <div class="loading-container flex-grid justify-content-center" [class.simple]="styling === 'simple'" *ngIf="loading">
    <div class="loader"></div>
  </div>
</div>
