@import 'src/assets/scss/variables.scss';

.right-align {
    text-align: right;
}

.delete {
    max-width: 40px;
    width: 40px;
    min-width: 0;
    font-size: 18px;
    .icon {
        cursor: pointer;
    }
}

.totals-row {
    td {
        height: 48px;
        @include themify() {
            background-color: themed('background');
        }
    }
}
