<div appThemed class="app-modal modal-body">
  <app-listing-table
    title="Add Items"
    [columns]="columns"
    [service]="invoiceItemService"
    styling="simple"
    (select)="selectedItems = $event">
  </app-listing-table>

  <div class="modal-buttons">
    <button class="button primary" (click)="addItems()">Add Items</button>
    <button class="button secondary" (click)="modal.close()">Cancel</button>
  </div>
</div>
