@import 'src/assets/scss/variables.scss';

.status-banner {
    padding: 0 25px;
    height: 100px;
    border-radius: 8px;
}

.title {
    font-size: 24px;
    font-family: $app-font-medium;
}
.invisible {
    opacity: 0;
}

.labels {
    margin-left: 15px;
    .separator {
        margin: 0 8px;
    }
    .separator,
    .total {
        opacity: 0.5;
        line-height: 16px;
    }

    .label-text {
        text-transform: capitalize;
        margin-top: 5px;
        font-family: $app-font-medium;
    }
}
