<div appThemed class="status-banner flex-grid justify-content-between background-brand text-contrast">
  <div class="title">{{ name }}</div>

  <ng-container *ngFor="let status of statuses">
    <div class="flex-grid" *ngIf="status.color && status.label">
      <app-arc-chart
        [color]="status.color"
        [value]="status.value"
        [total]="total"
        backgroundColor="brand">
      </app-arc-chart>
      <div class="labels">
        <div class="flex-grid align-items-end">
          <div class="title">{{ status.value }}</div>
          <div class="separator">/</div>
          <div class="total">{{ total }}</div>
        </div>
        <div class="label-text">{{ status.label }}</div>
      </div>
    </div>
  </ng-container>

  <div class="title invisible" *ngIf="!button">{{ name }}</div>
  <button class="button primary" *ngIf="button" (click)="onButtonClick()">{{ button }}</button>
</div>
