@import '../variables.scss';

.button {
    height: 32px;
    padding: 0 18px;
    font-family: $app-font-medium;
    font-size: 12px;
    font-weight: normal;
    border-radius: 16px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

    &:active,
    &:focus {
        outline: none;
    }

    .icon {
        font-size: 12px;
        &.icon-left {
            margin-right: 5px;
        }
        &.icon-right {
            margin-left: 5px;
        }
    }

    &.large {
        height: 49px;
        border-radius: 25px;
        font-family: $app-font-bold;
        font-size: 18px;
        padding: 0 28px;
    }
    &.small {
        height: 21px;
        border-radius: 12px;
        font-size: 10px;
        padding: 0 15px;
    }

    &.primary {
        @include themify() {
            background-color: themed('button-primary');
            color: themed('text-contrast');
            &:hover {
                background-color: darken(themed('button-primary'), 5%);
            }
            &:active {
                background-color: darken(themed('button-primary'), 10%);
            }
        }
    }
    &.secondary {
        @include themify() {
            background-color: themed('text');
            color: themed('text-contrast');
            &:hover {
                background-color: darken(themed('text'), 5%);
            }
            &:active {
                background-color: darken(themed('text'), 10%);
            }
        }
    }
    &.tertiary {
        @include themify() {
            background-color: themed('background-strong');
            color: themed('text');
            border: 1px solid themed('text-weak');
            &:hover {
                background-color: darken(themed('background-strong'), 5%);
            }
            &:active {
                background-color: darken(themed('background-strong'), 10%);
            }
        }
    }

}
