@import '../variables.scss';

// fonts
@mixin font-family($font-name, $font-file, $font-format) {
    @font-face{
        font-family: '#{$font-name}';
        src: local('$font-name'), url('/assets/fonts/#{$font-file}') format('#{$font-format}');
        font-weight: normal;
        font-style: normal;
    }
}

@include font-family($app-font-regular, 'Roboto-Regular.ttf', 'truetype');
@include font-family($app-font-bold, 'Roboto-Bold.ttf', 'truetype');
@include font-family($app-font-medium, 'Roboto-Medium.ttf', 'truetype');
@include font-family($app-font-light, 'Roboto-Light.ttf', 'truetype');
@include font-family($app-icon-font-rounded, 'Material-Icons-Rounded.woff', 'woff');
@include font-family($app-icon-font-sharp, 'Material-Icons-Regular.woff', 'woff');
