@import '../variables.scss';

strong,
.bold {
    font-family: $app-font-bold;
    font-weight: normal;
}

.flex-grid {
    display: flex;
    align-items: center;
}
.flex-grow {
    flex-grow: 1;
}

* {
    @include themify() {
        .danger {
            color: themed('danger');
            stroke: themed('danger');
        }
        .warning {
            color: themed('warning');
            stroke: themed('warning');
        }
        .success {
            color: themed('success');
            stroke: themed('success');
        }
        .balanced {
            color: themed('balanced');
            stroke: themed('balanced');
        }
        .positive {
            color: themed('positive');
            stroke: themed('positive');
        }
        .brand {
            color: themed('brand');
            stroke: themed('brand');
        }
        .text {
            color: themed('text');
        }
        .text-strong {
            color: themed('text-strong');
        }
        .text-weak {
            color: themed('text-weak');
        }
        .text-contrast {
            color: themed('text-contrast');
        }
        .link {
            cursor: pointer;
            color: themed('link');
            &:hover {
                color: darken(themed('link'), 10%);
            }
        }

        &.background-danger {
            background-color: themed('danger');
        }
        &.background-warning {
            background-color: themed('warning');
        }
        &.background-success {
            background-color: themed('success');
        }
        &.background-installed {
            background-color: themed('installed');
        }
        &.background-balanced {
            background-color: themed('balanced');
        }
        &.background-positive {
            background-color: themed('positive');
        }
        &.background-brand {
            background-color: themed('brand');
        }
        &.background-strong {
            background-color: themed('background-strong');
        }
        &.background-contrast {
            background-color: themed('background-contrast');
        }

        &.border-type-danger {
            border-color: themed('danger');
        }
        &.border-type-warning {
            border-color: themed('warning');
        }
        &.border-type-success {
            border-color: themed('success');
        }
        &.border-type-installed {
            border-color: themed('installed');
        }
        &.border-type-balanced {
            border-color: themed('balanced');
        }
        &.border-type-positive {
            border-color: themed('positive');
        }
        &.border-type-brand {
            border-color: themed('brand');
        }
        &.border-type-text {
            border-color: themed('text');
        }
    }

}
