@import '../variables.scss';

* {
    @include themify() {
        ::-webkit-scrollbar {
            width: 20px;
            height: 20px;
        }

        ::-webkit-scrollbar-track {
            border-radius: 20px;
            border: solid 6px transparent;
            -webkit-box-shadow: inset 0 0 30px rgba(themed('text-weak'), 0.1);
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            border: solid 6px transparent;
            -webkit-box-shadow: inset 0 0 30px rgba(themed('text-weak'), 0.5);
        }
    }
}
