@import '../variables.scss';

:host.ngb-toasts {
    bottom: 30px;
    top: auto;
    left: 0;

    .toast-container {
        width: 100%;
    }
}

.toast {
    font-size: 14px;
    border-radius: 20px;
    padding: 0 18px;

    @include themify() {
        color: themed('text-contrast');
        &.danger {
            background-color: themed('danger');
        }
        &.warning {
            background-color: themed('warning');
        }
        &.positive {
            background-color: themed('positive');
        }
        &.balanced {
            background-color: themed('balanced');
        }
        &.success {
            background-color: themed('success');
        }
    }
}
