<div appThemed class="splash flex-grid justify-content-center flex-column">

  <div class="image-container flex-grid justify-content-center align-items-end">
    <img src="/assets/images/stars.png">
    <img class="avatar" [src]="user.avatar">
  </div>

  <div class="welcome">{{ 'Good ' + timeOfDay + ', ' }}<strong>{{ user.username + '!' }}</strong></div>
  <div class="role">{{ role }}</div>

</div>
