@import 'src/assets/scss/variables.scss';

.search-box {
    &.blend {
        @include themify() {
            background-color: rgba(themed('brand'), 0.07);
        }
    }

    .search-icon {
        opacity: 0.35;
    }
    .cancel-icon {
        cursor: pointer;
    }
}
