@import 'src/assets/scss/variables.scss';

.details-panel {
    border-radius: 8px;
    margin-bottom: 10px;
    @include themify() {
        background-color: themed('background-contrast');
    }
    overflow: hidden;
}

.strip {
    height: 5px;
}

.panel-header {
    height: 75px;
    padding: 0 25px;

    @include themify() {
        box-shadow: 0 1px 0 themed('border');
    }

    .title {
        font-size: 24px;
        font-family: $app-font-bold;
        line-height: 32px;
        margin-right: 120px;

        @include themify() {
            color: themed('text-strong');
        }

        .label {
            font-family: $app-font-medium;
            opacity: 0.75;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 5px;
        }
    }


    .status {
        opacity: 0.3;
        line-height: 14px;

        .ring {
            height: 35px;
            width: 35px;
            border-radius: 50%;
            font-family: $app-font-bold;
            position: relative;
            margin-right: 8px;
            border-width: 2px;
            border-style: solid;

            &.small {
                position: absolute;
                bottom: -4px;
                left: calc(50% - 3px);
                height: 6px;
                width: 6px;
                border-width: 1px;

                @include themify() {
                    background-color: themed('background-contrast');
                }
            }

            .icon {
                font-size: 22px;
            }
        }

        .icon {
            font-size: 18px;
        }

        .status-text {
            margin-left: 2px;
        }

        &.active {
            opacity: 1;

            & + .dashed-line {
                opacity: 1;
            }
        }
    }

    .dashed-line {
        margin: 0 5px;
        opacity: 0.3;
        margin-bottom: 5px;
        align-self: flex-end;
        max-width: 88px;

        @include themify() {
            border-bottom: 1px dashed themed('text');
        }
    }
}

.panel-body {
    padding: 18px 25px 20px 25px;
}
