<div appThemed class="invoice-details details-page">
  <div class="title-row">
    <div class="back" (click)="goBack()"><i class="icon">arrow_back</i></div>
    Create New Invoice
  </div>

  <div class="page-content" *ngIf="invoice">
    <div class="left-content">
      <div class="panel details-panel">
        <div class="panel-subtitle-row">Invoice Details</div>
        <div class="purchase-orders">
          <div class="label">Purchase Orders</div>
          <div class="flex-grid flex-wrap">
            <div class="pill flex-grid" *ngFor="let order of purchaseOrders">
              {{ order }}
              <i class="icon cancel" (click)="removePurchaseOrder(order)">cancel</i>
            </div>
          </div>
        </div>
        <div class="detail-fields flex-grid align-items-stretch">
          <div class="field">
            <div class="label">Invoice Number</div>
            <div class="value">{{ invoice.invoiceNo }}</div>
          </div>
          <div class="field">
            <div class="label">Invoice Date</div>
            <div class="value">{{ invoice.invoiceDate | date: 'MMMM d, y' }}</div>
          </div>
          <div class="field">
            <div class="label">Invoice Status</div>
            <div [class]="'value ' + utilService.getColorForStatus(invoice.status)">{{ invoice.status }}</div>
          </div>
          <div class="field">
            <div class="label">Customer PO Number</div>
            <div class="value">{{ invoice.invoicedItems.length && invoice.invoicedItems[0].customerPoNumber }}</div>
          </div>
          <div class="field">
            <div class="label">Purchase Order No</div>
            <div class="value">{{ staticPurchaseOrderNumbersText.join(', ') }}</div>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-subtitle-row">
          Draft Items
          <div class="flex-grid">
            <app-search-box
              [bordered]="true"
              placeholder="Search the records"
              [data]="invoice.invoicedItems"
              (filter)="filteredItems = $event">
            </app-search-box>
            <button class="button tertiary add-items" (click)="addItems()">Add Items</button>
          </div>
        </div>

        <app-items-table
          [items]="filteredItems"
          [deletable]="true"
          (delete)="onRemoveItem($event)">
        </app-items-table>

        <div class="panel-button-row">
          <button class="button primary" (click)="createInvoice()">Create Invoice</button>
          <button class="button secondary" [routerLink]="['/invoice-listing']">Back to Listing</button>
        </div>
      </div>

    </div>

    <div class="loader-container flex-grid justify-content-center" *ngIf="!invoice">
      <div class="loader"></div>
    </div>
</div>
