@import 'src/assets/scss/variables.scss';

.details-page {
    .page-content {
        @include desktop-1320-and-down {
            display: block;
            margin-right: 0;
            .left-content {
                width: 100%;
            }
            .right-content {
                margin-top: 10px;
                width: auto;
            }
        }
    }
}

.detail-fields {
    margin-top: 13px;

    .field {
        font-size: 12px;
        line-height: 16px;
        margin-right: 50px;

        .label {
            text-transform: uppercase;
            margin-bottom: 3px;
            @include themify() {
                color: themed('text-weak');
            }
        }
        .value {
            font-size: 14px;
            font-family: $app-font-medium;
        }
    }
}

.panel {
    .button.add-items {
        margin-left: 15px;
    }
}

.details-panel {
    margin-bottom: 10px;
    .panel-subtitle-row {
        margin-bottom: 21px;
        @include themify() {
            color: themed('text-strong');
        }
    }

    .purchase-orders {
        padding-bottom: 15px;
        @include themify() {
            border-bottom: 1px solid themed('border');
        }
        .label {
            font-family: $app-font-medium;
            margin-bottom: 10px;
        }

        .pill {
            height: 32px;
            margin-right: 8px;
            border-radius: 16px;
            padding: 0 10px 0 16px;
            font-family: $app-font-medium;

            @include themify() {
                background-color: themed('background');
                color: themed('text-weak');
            }

            .cancel {
                font-size: 16px;
                cursor: pointer;
                opacity: 0.5;
                margin-left: 8px;
            }
        }
    }
}
