<div class="appThemed">
  <div class="simple-table">
    <table>
      <thead><tr><th *ngFor="let column of columns" [ngClass]="column.style">{{ column.name }}</th></tr></thead>
      <tbody>
        <tr *ngFor="let coa of coas">
          <td *ngFor="let column of columns" [ngClass]="column.style">
            <span *ngIf="!column.type">{{ coa[column.key] }}</span>
            <span *ngIf="column.type === 'date'">{{ coa[column.key] | date: 'dd/MM/yyyy' }}</span>
            <span *ngIf="column.type === 'delete'"><i class="icon danger" (click)="onDelete(coa)">delete_forever</i></span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="no-results-message" *ngIf="coas && coas.length === 0">
      No records found for the given criteria
    </div>
  </div>
</div>
