<div appThemed class="banner flex-grid" [hidden]="hideBanner">
  <img class="mask" src="/assets/images/banner-mask-one.png">
  <img class="mask" src="/assets/images/banner-mask-two.png">
  <i class="icon cancel" (click)="hideBanner = true">cancel</i>

  <img class="avatar" [src]="user.avatar">
  <div class="texts flex-grow">
    <div class="title">{{ 'Good ' + timeOfDay + ', ' }}<strong>{{ user.username + ' !' }}</strong></div>
    <div class="subtitle">Welcome back to Asset Track & Invoicing</div>
    <div>You can check all about your project activiy here. Every uptae will be notified to you.</div>
  </div>
  <img class="truck" src="/assets/images/truck.png">
</div>
