<div appThemed class="doughnut flex-grid flex-column" [style.height]="height + 35 + 'px'">
  <div class="inner">
    <svg [attr.width]="height" [attr.height]="height" [attr.viewBox]="'0 0 ' + height + ' ' + height" xmlns="http://www.w3.org/2000/svg">
      <g>
          <!-- the arcs for each data item -->
          <circle
            *ngFor="let d of graphData"
            [ngClass]="'arc ' + d.color" fill="none"
            [attr.r]="height/2 - 5" [attr.cy]="height/2" [attr.cx]="height/2"
            stroke-width="10" [attr.stroke-dasharray]="strokeDasharray" [attr.stroke-dashoffset]="d.strokeOffset"
            [attr.transform]="'rotate(' + d.angleOffset + ' ' + height/2 + ' ' + height/2 + ')'" />
            <!-- the lines separating the arcs -->
          <line
            *ngFor="let d of graphData"
            class="line"
            stroke-width="2"
            [attr.x1]="height/2" [attr.y1]="height/2"
            [attr.x2]="height/2 + d.line.x" [attr.y2]="height/2 + d.line.y" />
      </g>
    </svg>
    <div class="total flex-grid justify-content-center">
      {{ total }}
    </div>
    <ng-container *ngFor="let d of graphData">
      <div class="label" *ngIf="d.label"
        [style.left]="d.labelPosition.left" [style.right]="d.labelPosition.right"
        [style.top]="d.labelPosition.top">
        <strong [class]="d.color">{{ d.value }}</strong>
        {{ ' ' + d.label }}
      </div>
    </ng-container>
  </div>
</div>
