<div class="login-page flex-grid">

    <div class="login-form-container flex-grid flex-column">
      <div class="login-form flex-grow flex-grid flex-column justify-content-center">
        <img class="logo" src="/assets/icons/logo-with-text.svg">
        <button class="button primary large" (click)="login()" type="submit" *ngIf="!loggingIn">Login</button>
        <div class="loader" *ngIf="loggingIn"></div>
      </div>
    </div>

    <div class="app-description">
      <ngb-carousel [showNavigationArrows]="false">
        <ng-template ngbSlide>
          <div class="description-slide">
            <div class="title">Orders, Invoices & Agreements</div>
            <p>Everything at one place, its easy to track your assets and creating invoices, generating agreements is much simple with Asset Track.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="description-slide">
            <div class="title">State of the art asset tracking</div>
            <p>Easy to use asset tracking, customized to your needs.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="description-slide">
            <div class="title">Save more, do more</div>
            <p>Save tons of hours and avoid logistical nighmares, giving your employees more time to work on the important stuff.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

</div>
