@import 'src/assets/scss/variables.scss';

.login-page {
    height: 100%;
    @include themify() {
        background-color: themed('brand');
    }
}

.app-description {
    padding: 0 120px;
    @include themify() {
        color: themed('text-contrast');
    }

    .description-slide {
        min-height: 345px;
    }

    .title {
        font-family: $app-font-bold;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 32px;
        padding-top: 30px;
    }

    p {
        font-size: 18px;
        line-height: 24px;
    }
}

.login-form-container {
    width: 50%;
    flex-shrink: 0;
    height: 100%;
    font-size: 14px;
    line-height: 19px;
    border-bottom-right-radius: 150px;

    @include themify() {
        color: themed('text-strong');
        background-color: themed('background');
    }

    .login-form {
        .logo {
            margin-bottom: 42px;
        }
        .button {
            width: 300px;
            @include themify() {
                box-shadow: 0 3px 6px rgba(themed('brand'), 0.03);
            }
        }
    }
}
