<div appThemed class="order-listing">
  <app-status-banner *ngIf="statusCounts" [statuses]="statusCounts" name="Orders"></app-status-banner>

  <app-listing-table
    [columns]="columns"
    [service]="orderService"
    [statuses]="statuses"
    (linkClick)="navigateToOrder($event)">
  </app-listing-table>

</div>
