<div appThemed class="invoice-details details-page">
  <div class="title-row">
    <div class="back" (click)="goBack()"><i class="icon">arrow_back</i></div>
    Invoice Details
  </div>

  <div class="page-content" *ngIf="invoice">
    <div class="left-content">
      <app-details-panel
        [id]="invoice.invoiceNo"
        label="Invoice ID"
        [statuses]="statuses"
        [currentStatus]="invoice.status">
        <div class="detail-fields flex-grid align-items-stretch">
          <div class="field">
            <div class="label">Invoice Number</div>
            <div class="value">{{ invoice.invoiceNo }}</div>
          </div>
          <div class="field">
            <div class="label">Invoice Date</div>
            <div class="value">{{ invoice.invoiceDate | date: 'MMMM d, y' }}</div>
          </div>
          <div class="field">
            <div class="label">Invoice Status</div>
            <div [class]="'value ' + utilService.getColorForStatus(invoice.status)">{{ invoice.status }}</div>
          </div>
          <div class="field">
            <div class="label">Customer PO Number</div>
            <div class="value">{{ invoice.invoicedItems[0].customerPoNumber }}</div>
          </div>
          <div class="field">
            <div class="label">Purchase Order No</div>
            <div class="value">{{ purchaseOrderNumbers.join(', ') }}</div>
          </div>
        </div>
      </app-details-panel>

      <div class="panel">
        <div class="panel-title-row">
          <div><span>{{ invoice.status === 'ACTIVE' ? 'Active ' : 'Draft ' }}</span>Items</div>
          <div class="flex-grid">
            <app-search-box
              [bordered]="true"
              placeholder="Search the records"
              [data]="invoice.invoicedItems"
              (filter)="filteredItems = $event">
            </app-search-box>
          </div>
        </div>
        <app-items-table [items]="filteredItems"></app-items-table>
        <div class="panel-button-row">
          <button class="button secondary" [routerLink]="['/invoice-listing']">Back to Listing</button>
        </div>
      </div>
    </div>

  <div class="loader-container flex-grid justify-content-center" *ngIf="!invoice">
    <div class="loader"></div>
  </div>
</div>
